$$\huge\text{ MLP Exercise}$$

In [1]:
import numpy as np
np.random.seed(seed=23)

<font size=4>  Let's use a new data set today. See here https://towardsdatascience.com/a-beginners-guide-to-kaggle-s-titanic-problem-3193cb56f6ca for more on the titanic data set. We are interested in predicting if a passenger survived.

Notice most of the variables below are not numeric but text or categorical. What are NANs?

In [3]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/lammersm/Data/main/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.columns,df.shape

(Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
        'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
       dtype='object'),
 (891, 12))

In [5]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

<font size =4 color =blue>  Lets subset off some of the variables.  Make a categorical data set with  'Sex', "Pclass","Embarked" and a numerical one with "Fare".  Then use dropna() to drop the Nans. We'll make 'Survived' the target

# Logisitic

<font size=4 color = blue> Let's do a baseline Logistic regression  model using just the Fare to predict survival.  Let's use a 5 fold cross validation for all models.

LogisticRegression()

# MLP

<font size=4 color = blue>  Now let's do a  MLP Classifier Using the categorical data.  First we need to one hot encode. Does the shape of the one hot encoded data make sense ? Why

<font size=4 color=blue>  Concatenate with the numeric data.

<font size=4 color =blue>  Let's do a Standard Scaler and a MLP Classifier in a GridSearch. Use the following in the Grid Search. What are the parameters of your best model and what is the score of that model.
    
     hidden_layer_sizes:[(16,16,16),(256,256,256)],
     mlp_clf__solver:['sgd','adam'],
     mlp_clf__activation:['logistic', 'relu']
    
I got the following warning.   How do we fix it?
    
    
    C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:617: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.

<font size=4 color =blue> Display results in a data frame.  Include
    
    "param_activation","param_hidden_layer_sizes","param_solver","mean_test_score","rank_test_score"