 $$ \Huge{\text{ Pandas and Feature Creation
 }}$$

In [1]:
import numpy as np
import pandas as pd
from numpy import linalg as LA

 # 10 minutes to Pandas
 https://pandas.pydata.org/docs/user_guide/10min.html

 # SQL
 https://en.wikipedia.org/wiki/SQL
 
 https://app.datacamp.com/learn/courses/introduction-to-sql

# Covid Example - Discussion of fatalities per State and New Fatalities.

<font size=4> First lets look at th Johns Hopkins Data on GitHub
    https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

<font color =red>  __NOTE: This link may die eventually.  If so replace with__  </font>
    
 https://raw.githubusercontent.com/lammersm/Data/90d67de27440edeac9b3f0e23319e8742398c024/time_series_covid19_deaths_US.csv

In [2]:
covid = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv") 
covid.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,230,232,232,232,232,232,232,232,232,232
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,724,726,726,726,726,726,726,726,727,727
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,103,103,103,103,103,103,103,103,103,103
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,109,109,109,109,109,109,109,109,109,109
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,261,261,261,261,261,261,261,261,261,261

<font size =4?> We want to turn this into time series and group by state. It currently has County level information.  We do this with the pandas attribute [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html?highlight=groupby#pandas.DataFrame.groupby).   When we do this it Turns Province_State into and index for the data frame instead of a feature.  above the index was just a numbering.  Note no label on first column above.

In [3]:
csum=covid.groupby(['Province_State']).sum()
csum.head(10)

,UID,code3,FIPS,Lat,Long_,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Province_State,,,,,,,,,,,,,,,,,,,,,
Alabama,5796241491,57960,241491.0,2203.246784,-5809.578199,4903185,0,0,0,0,...,20932,21001,21001,21001,21001,21001,21001,21001,21032,21032
Alaska,2772236473,27720,236473.0,1868.733025,-4605.860811,740995,0,0,0,0,...,1486,1486,1486,1486,1486,1486,1486,1486,1486,1486
American Samoa,16,16,60.0,-14.271000,-170.132000,55641,0,0,0,0,...,34,34,34,34,34,34,34,34,34,34
Arizona,1428230216,14280,230216.0,505.138555,-1671.948482,7278717,0,0,0,0,...,33042,33076,33076,33076,33076,33076,33076,33076,33102,33102
Arkansas,6468550635,64680,550635.0,2618.391704,-6932.548370,3017804,0,0,0,0,...,12980,12980,12990,12996,13001,13001,13001,13009,13015,13020
California,5040521376,50400,521376.0,2194.949775,-7002.258461,39512223,0,0,0,0,...,100726,100747,100954,100954,100954,100954,100954,100954,100954,101159
Colorado,5544685999,55440,685999.0,2491.870366,-6751.119357,5758736,0,0,0,0,...,14106,14127,14127,14127,14127,14127,14127,14127,14181,14181
Connecticut,840242082,8400,242082.0,332.909441,-581.254637,3565287,0,0,0,0,...,12145,12179,12187,12196,12196,12196,12196,12196,12196,12220
Delaware,420200029,4200,200029.0,117.327830,-226.599712,973764,0,0,0,0,...,3309,3324,3324,3324,3324,3324,3324,3324,3324,3324
Diamond Princess,84088888,840,88888.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<font size=4> We want to throw everything away except the last 8 columns containing the data for the last 8 days. This is a cumulative total of the deaths for each state in the lat eight days.

In [4]:
csumT=csum.iloc[:,-8:]
csumT.head()

                3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
Province_State
Alabama          21001   21001   21001   21001   21001   21001   21032   21032
Alaska            1486    1486    1486    1486    1486    1486    1486    1486
American Samoa      34      34      34      34      34      34      34      34
Arizona          33076   33076   33076   33076   33076   33076   33102   33102
Arkansas         12990   12996   13001   13001   13001   13009   13015   13020

<font size =4>  Let's add a feature.  Number of fatalities in the last 7 days.

In [5]:
csumT["diff"]=csumT.iloc[:,7]-csumT.iloc[:,0]
csumT.head()

,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23,diff
Province_State,,,,,,,,,
Alabama,21001,21001,21001,21001,21001,21001,21032,21032,31
Alaska,1486,1486,1486,1486,1486,1486,1486,1486,0
American Samoa,34,34,34,34,34,34,34,34,0
Arizona,33076,33076,33076,33076,33076,33076,33102,33102,26
Arkansas,12990,12996,13001,13001,13001,13009,13015,13020,30

<font size=4> Let's rename some features and drop some of the data we don't need.

In [9]:
st_date="3/2/23"
end_date="3/9/23"
csumT1=csumT.rename(columns={"Province_State":"State",st_date:"Start",end_date:"Finish"})
csumT1.drop(csumT1.columns[[1,2,3,4,5,6]],axis=1,inplace=True) 
csumT1.head()

                Start  Finish  diff
Province_State
Alabama         21001   21032    31
Alaska           1486    1486     0
American Samoa     34      34     0
Arizona         33076   33102    26
Arkansas        12990   13020    30

# Now let's add another data Set with state populations for each from my github 

<font size=4> I got it from https://worldpopulationreview.com/states

https://raw.githubusercontent.com/lammersm/Data/90d67de27440edeac9b3f0e23319e8742398c024/StatePoulation.csv

<font size=4>  Above we calculated the seven day increase in fatalities by state.    However, we would expect states with much larger populations would have larger number of fatalities. So lets combine these data sets and compute two things.
    
1) Total Covid Fatalities per population of the state.  We will  call that 
    
    Deaths Percent of Population
    
2) New Fatalities Per 100K people.  We will call the 
    
    NewDeaths Per 100K

In [10]:
uspop=pd.read_csv("https://raw.githubusercontent.com/lammersm/Data/90d67de27440edeac9b3f0e23319e8742398c024/StatePoulation.csv") 
uspop.head(10)

,rank,State,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density
0,1,California,39613493,0.0038,39461588,37319502,0.0615,0.1184,254.2929
1,2,Texas,29730311,0.0385,28628666,25241971,0.1778,0.0889,113.8081
2,3,Florida,21944577,0.0330,21244317,18845537,0.1644,0.0656,409.2229
3,4,New York,19299981,-0.0118,19530351,19399878,-0.0051,0.0577,409.5400
4,5,Pennsylvania,12804123,0.0003,12800922,12711160,0.0073,0.0383,286.1704
5,6,Illinois,12569321,-0.0121,12723071,12840503,-0.0211,0.0376,226.3967
6,7,Ohio,11714618,0.0033,11676341,11539336,0.0152,0.0350,286.6944
7,8,Georgia,10830007,0.0303,10511131,9711881,0.1151,0.0324,188.3054
8,9,North Carolina,10701022,0.0308,10381615,9574323,0.1177,0.0320,220.1041
9,10,Michigan,9992427,0.0008,9984072,9877510,0.0116,0.0299,176.7351

In [11]:
newtopstate=csumT1.merge(uspop,left_on="Province_State",right_on="State")
newtopstate["Deaths Percent of Population"]=100*(newtopstate["Finish"]/newtopstate["Pop"])
newtopstate["NewDeaths Per 100K"]=100000*(newtopstate["diff"]/newtopstate["Pop"])
newtopstate.head()

#newtopstate.to_csv("statetopp_deaths.csv")

,Start,Finish,diff,rank,State,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density,Deaths Percent of Population,NewDeaths Per 100K
0,21001,21032,31,24,Alabama,4934193,0.0095,4887681,4785437,0.0311,0.0147,97.4271,0.426250,0.628269
1,1486,1486,0,49,Alaska,724357,-0.0147,735139,713910,0.0146,0.0022,1.2694,0.205147,0.000000
2,33076,33102,26,14,Arizona,7520103,0.0506,7158024,6407172,0.1737,0.0225,66.2016,0.440180,0.345740
3,12990,13020,30,34,Arkansas,3033946,0.0080,3009733,2921964,0.0383,0.0091,58.3059,0.429144,0.988811
4,100954,101159,205,1,California,39613493,0.0038,39461588,37319502,0.0615,0.1184,254.2929,0.255365,0.517500

<font size=4>Let's drop more data that we don't want in our final data set.

In [12]:
newtopstate.drop(newtopstate.columns[[3,6,7,8,9,10,11]],axis=1,inplace=True) 
newtopstate.head()

,Start,Finish,diff,State,Pop,Deaths Percent of Population,NewDeaths Per 100K
0,21001,21032,31,Alabama,4934193,0.426250,0.628269
1,1486,1486,0,Alaska,724357,0.205147,0.000000
2,33076,33102,26,Arizona,7520103,0.440180,0.345740
3,12990,13020,30,Arkansas,3033946,0.429144,0.988811
4,100954,101159,205,California,39613493,0.255365,0.517500

<font size=4> __Let's find out what state has the most New Covid fatalities per 100K people in the last 7 days.__

In [13]:
newtopstate=newtopstate.sort_values(by=["NewDeaths Per 100K"],ascending =False)
newtopstate.head(10)

,Start,Finish,diff,State,Pop,Deaths Percent of Population,NewDeaths Per 100K
46,910,929,19,Vermont,623251,0.149057,3.048531
9,86460,86850,390,Florida,21944577,0.395770,1.777204
41,19532,19600,68,South Carolina,5277830,0.371365,1.288408
49,7938,7960,22,West Virginia,1767859,0.450262,1.244443
21,24249,24333,84,Massachusetts,6912239,0.352028,1.215236
25,22798,22870,72,Missouri,6169038,0.370722,1.167119
22,42096,42205,109,Michigan,9992427,0.422370,1.090826
27,4915,4936,21,Nebraska,1951996,0.252869,1.075822
42,3181,3190,9,South Dakota,896581,0.355796,1.003813
3,12990,13020,30,Arkansas,3033946,0.429144,0.988811

<font size=4 color =red> __Find out what state has the most Covid Fatalities  by population__

In [14]:
newtopstate=newtopstate.sort_values(by=["Deaths Percent of Population"],ascending =False)
newtopstate.head(10)

,Start,Finish,diff,State,Pop,Deaths Percent of Population,NewDeaths Per 100K
24,13351,13370,19,Mississippi,2966407,0.450714,0.640506
36,17940,17972,32,Oklahoma,3990443,0.450376,0.801916
49,7938,7960,22,West Virginia,1767859,0.450262,1.244443
2,33076,33102,26,Arizona,7520103,0.440180,0.345740
31,9047,9061,14,New Mexico,2105005,0.430450,0.665082
3,12990,13020,30,Arkansas,3033946,0.429144,0.988811
0,21001,21032,31,Alabama,4934193,0.426250,0.628269
22,42096,42205,109,Michigan,9992427,0.422370,1.090826
43,29246,29263,17,Tennessee,6944260,0.421398,0.244807
30,35987,36015,28,New Jersey,8874520,0.405825,0.315510

<font size =4> Finally let's write this to a csv file that we can use in Power BI or Tableau. <font color=blue> Check the folder this notebook is in after you run the code below.

In [ ]:
newtopstate.to_csv("statetopp.csv")